@media only screen and (max-width:576px){
    .container , body ,.nav-container {
        width: 100%;
    }
    .players, .blogs-grid, .course-grid{
        grid-template-columns: repeat(1, 100%);
        align-items: center;
    }
    .players-conatiner{
        width: 100%;
    }
    .blogs{
        flex-direction: column;
        
    }
    hr{
        width: 80%;
    }
    .blog-image img ,.courses img {
        width: 295px;
    }
    .nav-l{
        padding-left: 10px;
    }
    .nav-bar{
        width: 100%;
    }
    .nav-r ul{
        flex-direction: column;
        display: none;
    }
    .nav-r img{
        padding-right: 10px;
    }
}